    *{
    margin: 0;
    padding: 0;

}
body{
    background-color: pink;
    padding: 30px;
}
.container{
    height: 600px;
    width: 600px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
}
h1{
    text-align: center;
    color: rgb(252, 109, 133);
    padding: 20px;
}
label{
    width: 150px;
    display: inline-block;
    padding-left: 20px;

}
.content{
    margin-bottom: 20px;
}
input{
    width: 300px;
    height: 30px;
}
select{
    width: 300px;
    height: 30px;
}
input:hover{
    border: 2px solid rgb(252, 109, 133);
}
.box .in{
   width: 18px;
}
p{
    position: relative;
    left: 20px;
    bottom: 27px;
    font-size: 13px;
}
.content .ad{
    height: 50px;
    
}
select:hover{
    border: 2px solid rgb(252, 109, 133);
}
button{
    width: 150px;
    height: 30px;
    margin-left: 240px;
    background-color:grey ;
    border: transparent;
    border-radius: 5px;
    color: white;

}
button:hover{
    background-color: rgb(252, 109, 133);
    color: black;
}
